body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: rgb(28, 29, 31);
}

* {
  color: #fff
}

.loginscreen {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal */
.ReactModalPortal>div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity .2s ease-in-out;
  z-index: 999;
}

.modal-fondo {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: white;
  border-radius: 5px;
  color: rgb(51, 51, 51);
  display: inline;
  max-height: 620px;
  max-width: 500px;
  outline: none;
  padding: 10px;
}

label {
  color: #000;
}

.guardar span {
  color: #569AFE !important;
}

.guardar i {
  color: #569AFE;
}

.guardar:hover span {
  color: #fff !important;
}

.guardar:hover i {
  color: #fff !important;
}

.datepiker * {
  color: #000 !important;
}

.linkspicker {
  min-width: 180px !important;
  margin-right: 15px !important;
}

.optionn {
  color: #595C5F !important;
}

.react-datepicker__time-list-item {
  color: #000 !important;
}

.rbc-agenda-table>tbody>tr>.rbc-agenda-event-cell:hover {
  cursor: pointer;
}

.customer:hover {
  cursor: pointer;
}

/* .calendarSection {
  display: flex;
  width: 100%;
  justify-content: center;
} */
.rbc-event-label {
  display: none;
}